.row
	.col-md-4
		button(type="button", data-toggle="modal", data-target="#imgModal").imagebox
			img(src="images/product.png", alt="prod")
		.modal.fade#imgModal(tabindex="1",role="dialog", aria-labelledby="imgModalLabel")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close"): i(aria-hidden="true").glyphicon.glyphicon-remove
						h4.modal-title#imgModalLabel
					.modal-body
						.imagebox
							img(src="images/product.png", alt="prod")
					.modal-footer
						p Строп канатный петлевой
	.col-md-8
		.row.bd
			.col-md-6.col-lg-5.weight
				h4.stat-header!= "Грузоподьемность <sup><i class='glyphicon glyphicon-info-sign'></i></sup>"
				.row
					.col-md-6
						div.weight-select
							select#weight(name="weight")
								option(selected='selected') 1.25 тн
								option 1.50 тн
								option 1.75 тн
								option 2.00 тн
					.col-md-6
						div.weight-block
							span.weight-articul Артикул
							span.weight-number 01-020175
			.col-md-6.col-lg-7
				.number-plus-minus.length
					h4.stat-header(for="length")!= "Длина, мм <sup><i class='glyphicon glyphicon-info-sign'></i></sup>"
					input#length(type="number", min="10", max="2000",  step="10",name="length", readonly)
					input#range(type="text", value="", name="range")
		.row.bd
			.col-xs-12.col-lg-4.border-bottom
				p.price!= "15205.24<sup>грн/шт</sup>"
				span в наличии
			.col-xs-12.col-lg-8
				form.action-buttons
					.action-buttons-field
						input.action-buttons-number(type="text" value="1" pattern=/[0-9]/)
					button.action-buttons-button.action-buttons-add-to-basket(type="submit") Добавить в корзину
					button.action-buttons-button.action-buttons-buy-onclick(type="submit") Купить в 1 клик
		.row.characteristics
			h3 Характеристики
			.col-md-6
				dl
					dt Материал
					dd светлые канаты без покрытия ГОСТ-7668-80, 2688-80
					dt Коэффициент запаса прочности
					dd 6.1
					dt Температурный диапазон применения
					dd от -40 до +100 С°
			.col-md-6
				dl
					dt Стандарт
					dd ДСТУ EN 13414-1:2014, ДСТУ Б В.2.8-10-98
					dt Зделка концов каната
					dd заплётка либо опрессовка в алюминиевую втулку
					dt Гарантия
					dd 3 месяца
-
	var list ={
		picture: ['pic2','pic1', 'pic3', 'pic4', 'pic2', 'pic1', 'pic2', 'pic1', 'pic5'],
		name: ['Стяжной ремень <br>1.5 тн', 'Стопор текстильний двухветевой (2СТ)', 'Стяжной ремень<br> 1.5 тн', 'Стальной канат ГОСТ 3077-80', 'Стяжной ремень<br> 1.5 тн', 'Стопор текстильний двухветевой (2СТ)', 'Стяжной ремень<br> 1.5 тн', 'Стопор текстильний двухветевой (2СТ)', 'Скобка такелажная омегообразного типа'],
		price: ['15.34', '119.00', '90.85', '119.00', '78.34', '28.70', '15.34', '119.00', '15.34']
	} 
.row.row-tab
	.col-md-4.product
		h3.product-list-header Сопутствующие товары
		ul.product-list
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic2.jpg", alt="1")
				a(href="#").product-list-name!= "Стяжной ремень <br>1.5 тн"
				span.product-list-price!= "<span class='product-list-price-quantity'>15.34 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic1.jpg", alt="2")
				a(href="#").product-list-name Стопор текстильний двухветевой (2СТ)
				span.product-list-price!= "<span class='product-list-price-quantity'>119.00 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic3.jpg", alt="3")
				a(href="#").product-list-name!= "Стяжной ремень<br> 1.5 тн"
				span.product-list-price!= "<span class='product-list-price-quantity'>90.85 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic4.jpg", alt="4")
				a(href="#").product-list-name Стальной канат ГОСТ 3077-80
				span.product-list-price!= "<span class='product-list-price-quantity'>119.00 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic2.jpg", alt="5")
				a(href="#").product-list-name!= "Стяжной ремень<br> 1.5 тн"
				span.product-list-price!= "<span class='product-list-price-quantity'>78.34 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic1.jpg", alt="6")
				a(href="#").product-list-name Стопор текстильний двухветевой (2СТ)
				span.product-list-price!= "<span class='product-list-price-quantity'>28.70 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic2.jpg", alt="7")
				a(href="#").product-list-name!= "Стяжной ремень<br> 1.5 тн"
				span.product-list-price!= "<span class='product-list-price-quantity'>15.34 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic1.jpg", alt="8")
				a(href="#").product-list-name Стопор текстильний двухветевой (2СТ)
				span.product-list-price!= "<span class='product-list-price-quantity'>119.00 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
			li.product-list-wrapper
				a.product-list-link(href="#"): img.product-list-img(src="images/thumbs/pic5.jpg", alt="9")
				a(href="#").product-list-name Скобка такелажная омегообразного типа
				span.product-list-price!= "<span class='product-list-price-quantity'>15.34 </span> <span class='product-list-price-peritem'>грн/шт.</span>"
	.col-xs-12.col-md-8.myTabs
		ul.nav.nav-tabs#myTabs(role="tablist")
			li.active(role="presentation"): a(href="#all_stats" aria-controls="all_stats", role="tab", data-toggle="tab") Все характеристики
			li(role="presentation"): a(href="#stats" aria-controls="stats", role="tab", data-toggle="tab") Характеристики
			li(role="presentation"): a(href="#photos" aria-controls="photos", role="tab", data-toggle="tab") Фото
			li(role="presentation"): a(href="#videos" aria-controls="videos", role="tab", data-toggle="tab") Видео
			li(role="presentation"): a(href="#req_res" aria-controls="req_res", role="tab", data-toggle="tab") Вопросы и ответы
		.tab-content#myTabsContent
			.tab-pane.fade.in.active#all_stats(role="tabpanel")
				p  В России большинство грузоподъёмных операций проводят с использованием стальных канатных стропов – это строительно-монтажные и погрузочно-разгрузочные работы, подъём и перемещение грузов кранами при температуре от –40 до +400 °С.

				p Стропы канатные изготавливают одноветвевые или многоветвевые (так называемые "пауки") со звеньями для навески на крюк крана или присоединения груза, а также кольцевые в виде замкнутой петли для непосредственной обвязки груза и петлевые (так называемые "чалки" или "удавки").

				h5: b Наша компания изготавливает стропы канатные по ГОСТ 25573-82 и РД 10-33-93.

				p Для изготовления петлевых и кольцевых канатных стропов мы применяем канаты по ГОСТ 3079, ГОСТ 7668, ГОСТ 3071, пряди которых включают множество стальных проволок, в отличие от каната по ГОСТ 2688, что обеспечивает гибкость стропа и его более долгий срок службы. В основном, применяется канат чистый, без смазки. Заделка концов каната производится методом заплётки или обжимки алюминиевой втулкой. На стропы, изготовленные путём заплётки, производится заделка концов прядей по новым технологиям, с применением термоусадочной трубки. 

				p При изготовлении ветвевых стропов мы применяем импортные крюки типа 320А, они несколько меньше аналогичных отечественных крюков, но не уступают им в грузоподъемности. 

			.tab-pane.fade#stats(role="tabpanel")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit ipsum alias assumenda doloremque laudantium voluptates ad eius id iste deserunt unde totam reiciendis sapiente, odio iure dolorum laboriosam ullam minus eaque dolor rem! Officiis sunt, consequuntur excepturi iste reprehenderit provident id dolores distinctio est vel deleniti soluta, nihil, enim, officia dolore. Quae porro ad obcaecati sunt nulla dolores accusamus dolorem. Ipsa cupiditate magnam laudantium reprehenderit, maxime fugit obcaecati, porro quod possimus soluta est omnis rem eius natus accusamus ad dolore culpa vitae doloremque libero illum eos at expedita incidunt? Necessitatibus aspernatur rem placeat itaque vero, doloremque nesciunt ratione cum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur voluptatem ex.
			.tab-pane.fade#photos(role="tabpanel")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum odit blanditiis earum, nobis quo architecto eos mollitia vero recusandae ad saepe in temporibus inventore dolorem, quia consequuntur velit quae modi. Accusamus nisi totam omnis vel eius expedita deleniti rem amet veritatis, incidunt, vitae aperiam, soluta dolorum perferendis at, itaque enim fugiat pariatur dicta molestias repellat culpa? Incidunt debitis, voluptatem quisquam eum a nisi facere doloribus repellendus ea recusandae id omnis illo sed, nulla repellat libero repudiandae quam illum ex tenetur rem magni. Quibusdam tenetur ut debitis harum at. Sunt, facere. Ut, adipisci ratione amet exercitationem repudiandae eligendi, asperiores fuga magni maiores error sit iure doloremque delectus veritatis totam iste illo. Maxime fuga laborum quia in quasi cumque nam ea minima, vitae expedita qui, earum soluta quo quisquam eum eos accusamus voluptate! Dolor nulla alias provident, quidem inventore repellendus. Accusantium accusamus animi, laboriosam cumque qui adipisci optio, consectetur quam. Ipsum debitis maiores hic tempora numquam voluptate harum animi, at minus mollitia quaerat molestias, natus culpa excepturi. A obcaecati modi rerum consequatur hic, veritatis voluptate accusamus adipisci maiores suscipit. Quod iste, officiis aperiam corrupti natus alias magni eveniet nisi cumque, voluptate cum sit atque architecto earum similique nemo. Unde necessitatibus placeat, ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore sed, rem neque in labore!
			.tab-pane.fade#videos(role="tabpanel")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam et, voluptates quod aspernatur quas laborum modi sint? Nemo soluta quam ea corrupti nihil eum qui aspernatur quo voluptas possimus a numquam, omnis magni modi voluptate rerum quidem alias deleniti esse iure dolorum maiores, consectetur. Nulla magnam, voluptatem autem voluptatum nemo sapiente reprehenderit totam, voluptas praesentium beatae neque vitae architecto atque quod optio consequatur? Nobis saepe assumenda exercitationem, magnam ipsam sit laborum porro quos eum corporis. Suscipit iusto soluta amet assumenda temporibus asperiores, quidem! Deleniti explicabo quod, minus, libero, quisquam, quaerat officiis animi corporis reiciendis quo nesciunt debitis nostrum numquam odio nam itaque temporibus autem aperiam. Rerum eveniet tempore culpa repudiandae, facere consequatur necessitatibus similique nesciunt vel dolorem temporibus et dolor facilis in consequuntur excepturi autem voluptatum illo asperiores, id quisquam at. Cupiditate a alias, voluptatem illo nulla, laborum minima. Molestias qui, suscipit facilis! Odio placeat consectetur et quaerat culpa, expedita esse, error sapiente deleniti porro iste autem in quidem saepe, consequuntur voluptatem laudantium corporis harum modi? Deserunt labore sit laudantium incidunt dolore sed quos ad nulla maiores facere voluptatem, fugiat aperiam laborum dicta, asperiores fugit quidem commodi nobis perferendis corrupti odio. Sed corrupti dolor officia consequatur modi laudantium obcaecati, praesentium mollitia maxime voluptatibus ex molestiae, ipsum blanditiis, incidunt esse ad quae consequuntur cupiditate nostrum cum unde dignissimos! Sapiente, cupiditate assumenda, eligendi cumque mollitia suscipit perferendis quis esse dolor, nesciunt hic quibusdam harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, odio, asperiores.
			.tab-pane.fade#req_res(role="tabpanel")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem reprehenderit deserunt obcaecati ab quibusdam reiciendis repellendus eum earum explicabo unde quod quis, dolor quae excepturi et adipisci incidunt dolorem magnam minima laboriosam autem! Voluptatem sapiente quaerat minus reiciendis maxime esse iusto tempore nesciunt quas unde corporis rem, assumenda, temporibus laboriosam, aut, officiis accusantium eum? Dicta illo non iste vel est commodi laborum voluptatum totam sunt, harum veritatis distinctio, magni corporis asperiores! Commodi perspiciatis, ipsam recusandae, alias amet impedit praesentium aliquam quasi culpa, eveniet, saepe laborum! Autem nesciunt quod pariatur, voluptatibus deserunt modi iure! Ad suscipit molestiae itaque neque illo corrupti nobis aliquam, fugiat explicabo eum aspernatur, incidunt iure ipsa asperiores rerum tenetur. Cupiditate et optio modi inventore numquam nobis eligendi delectus unde eum assumenda explicabo, labore provident, alias animi accusantium excepturi reprehenderit perferendis quod adipisci cum libero. Inventore consequatur vitae, numquam soluta magnam laudantium, sint eaque nulla ipsum nostrum fugiat quo optio minima cumque at, velit hic iste labore. Repellendus illum eaque explicabo molestiae qui neque nemo dolorem, dolores, reprehenderit, maiores eum voluptatibus quas accusamus alias asperiores voluptatem cupiditate natus sint fugiat reiciendis laboriosam dolor mollitia fuga. Illo commodi, ipsum repudiandae, optio minima ab sapiente facilis eligendi omnis laudantium quos repellat porro voluptas rem delectus, possimus tenetur quidem deserunt maxime doloremque itaque. Obcaecati tempore incidunt nesciunt omnis quos! Quod dolorem, sunt unde sapiente temporibus ea, deleniti esse dicta nesciunt? Cumque, neque? Cupiditate consequuntur ducimus dicta, sed quaerat provident accusamus eveniet. Fugit perferendis odit vitae alias debitis aspernatur voluptas consequuntur provident iusto quibusdam. Enim, ex accusantium velit distinctio odit! Fugiat ducimus quam beatae officiis neque molestiae, corrupti provident est optio maiores porro doloremque magni. Iusto quae cupiditate nesciunt aspernatur labore explicabo id aliquid sunt sint nemo, minus quidem odio sit eligendi obcaecati maiores animi. Veritatis, quae, porro. Repellendus blanditiis consectetur consequuntur, qui sapiente iste laudantium repudiandae dolorum, nemo quia aut quos perspiciatis maiores illum, voluptatum est omnis ipsum. Rerum, unde cupiditate inventore.